<h3>Lista de Vendedores</h3>

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}
<br />
<a href="../Vendedor/VisualizarComoPDF/" target="_blank"><img src="../img/pdf.png" alt="Gerar PDF" width="26" height="34" /> Gerar Relatório</a>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<VendedorModel>)ViewBag.ListaVendedores)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Email</td>
                    <td><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar Vendedor</button>

<script>
    function Cadastrar() {
        window.location.href = "../Vendedor/Cadastro";
    }

    function Editar(id) {
        window.location.href = "../Vendedor/Cadastro/" + id;
    }

    function Excluir(id) {
        window.location.href = "../Vendedor/Excluir/" + id;
    }
</script>
