<h3>Lista de Vendas</h3>
<br />
<a href="../Venda/VisualizarComoPDF/" target="_blank"><img src="../img/pdf.png" alt="Gerar PDF" width="26" height="34" /> Gerar Relatório</a>
<br />
<br />
@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}
<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Registrar Vendas</button>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Vendedor</th>
            <th>Cliente</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<VendaModel>)ViewBag.ListaVendas)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@*@item.Data*@</td>
                    <td>@item.Vendedor_Id</td>
                    <td>@item.Cliente_Id</td>
                    <td>R$ @item.Total</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />


<script>
    function Cadastrar() {
        window.location.href = "../Venda/Registrar";
    }

</script>
