@model VendaModel

<h2>Registrar uma venda</h2>
<br />
@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}
<form asp-controller="Venda" asp-action="Registrar" method="post">

    <div class="form-group">
        <label class="control-label font-weight-bold">Vendedor</label>
        <div>
            <span class="control-label" id="vendedor" name="vendedor">
                @try
                {
                    @ViewBag.Vendedor.Nome
                }
                catch { }
            </span>
        </div>

        @* <select asp-for="Vendedor_Id" class="form-control">
                @{
                    foreach (var item in (List<VendedorModel>)ViewBag.ListaVendedores)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                }

            </select>*@
    </div>

    @*<input type="hidden" asp-for="Id" value="@try { @ViewBag.Venda.Id } catch { }" />*@

    <div class="form-group">
        <label class="control-label font-weight-bold">Cliente</label>
        <select asp-for="Cliente_Id" class="form-control">
            @{
                foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                {
                    <option value="@item.Id">@item.Nome</option>
                }
            }

        </select>
    </div>

    <label class="control-label font-weight-bold">Produtos</label><br />
    <div class="row form-group">
        <div class="col-lg-8">
            <select class="form-control" id="sltProduto">
                @{
                    foreach (var item in (List<ProdutoModel>)ViewBag.ListaProdutos)
                    {
                        <option value="@item.Id">@item.Nome | @item.Preco_Unitario</option>
                    }
                }

            </select>
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" value="1" id="txtQuantidade" />
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-block btn-primary" onclick="AdicionarProduto()">Adicionar</button>
        </div>
    </div>
    <br />

    <table class="table table-bordered js-tabela">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Quantidade</td>
                <td>Preço Unitário</td>
                <td>Total</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="listaProdutos">
        </tbody>
    </table>
    <div style="float:left; font-size:22px;">Total: R$</div>
    <div style="float:left; font-size:22px; margin-left:5px;" id="divTotal">0.00</div>
    <br />

    <input type="hidden" asp-for="Total" id="txtTotal" />
    <textarea style="display:none;" asp-for="ListaProdutos" id="ListaProdutosJSON"></textarea>

    @*<button type="button" class="btn btn-block btn-success" onclick="Registrar()">JSON</button>*@
    <button type="submit" class="btn btn-block btn-success">Registrar</button>
    <button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Listagem de Vendas</button>
</form>

<script>
    var Itens = new Object();
    Itens.Produtos = new Array();

    var idLinha = 0;

    var CodigoProduto = document.getElementById("sltProduto");
    var QtdeProduto = document.getElementById("txtQuantidade");
    var ListaProdutos = document.getElementById("listaProdutos");
    var TotalVenda = document.getElementById("divTotal");
    var ListaProdutosJSON = document.getElementById("ListaProdutosJSON");
    var txtTotal = document.getElementById("txtTotal");


    function Voltar() {
        window.location.href = '../../Venda/Index';
    }

    function AdicionarProduto() {

        var DescricaoPreco = CodigoProduto.options[CodigoProduto.selectedIndex].text;
        var arrayDescricaoPreco = DescricaoPreco.split('|');
        var total = (arrayDescricaoPreco[1].replace(",", ".") * QtdeProduto.value);
        total = Math.round(total * 100) / 100;


        // id da linha
        idLinha++;

        //Exibe itens na tela
        var produto = "<tr class='produto_inserido' id=" + idLinha + ">" +
            "<td>" + CodigoProduto.value + "</td>" +
            "<td>" + arrayDescricaoPreco[0] + "</td>" +
            "<td>" + QtdeProduto.value + "</td>" +
            "<td>R$" + arrayDescricaoPreco[1] + "</td>" +
            "<td>R$" + total + "</td>" +
            "<td><button type='button' class='btn btn-danger' onclick='RemoverProdutoDaLista(" + idLinha + ", " + total + ")'>Remover</button></td>" +
            "</tr>";

        ListaProdutos.innerHTML += produto;


        GerarJSON();

        //Exibe totalizador na tela
        var totalGeral = Math.round((TotalVenda.innerText * 1 + total) * 100) / 100;
        TotalVenda.innerHTML = totalGeral;
        txtTotal.value = totalGeral.toString().replace(".", ",");

    }

    function RemoverProdutoDaLista(codigo, total) {
        document.getElementById(codigo).remove();

        //Exibe totalizador na tela
        var totalGeral = Math.round((TotalVenda.innerText * 1 - total) * 100) / 100;
        TotalVenda.innerHTML = totalGeral;
        txtTotal.value = totalGeral.toString().replace(".", ",");

        GerarJSON();

    }

    function GerarJSON() {

        ListaProdutosJSON.innerHTML = "";

        //Ler TRs
        var trs = document.querySelectorAll('.js-tabela tbody .produto_inserido');
        var x = 0;

        while (trs[x]) {

            var conteudo = trs[x].innerHTML;

            var conteudoDividido = conteudo.split('</td>');
            var CodigoProdutoJSON = conteudoDividido[0].replace("<td>", "");
            var DescProdutoJSON = conteudoDividido[1].replace("<td>", "");
            var QtdeProdutoJSON = conteudoDividido[2].replace("<td>", "");
            var PrecoUnitarioJSON = conteudoDividido[3].replace("<td>", "").replace(",", ".").replace("R$ ", "");
            var totalJSON = conteudoDividido[4].replace("<td>", "").replace("R$", "");

            // Preencher JSON
            Itens.Produtos.push({
                "CodigoProduto": CodigoProdutoJSON,
                "Descricao": DescProdutoJSON,
                "QtdeProduto": QtdeProdutoJSON,
                "PrecoUnitario": PrecoUnitarioJSON,
                "Total": totalJSON
            });

            x++;
        }

        ListaProdutosJSON.innerHTML = JSON.stringify(Itens.Produtos);

    }

</script>