<h3>Lista de Produtos</h3>

@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@TempData["MSG_S"]</p>
}
<br />
<a href="../Produto/VisualizarComoPDF/" target="_blank"><img src="../img/pdf.png" alt="Gerar PDF" width="26" height="34" /> Gerar Relatório</a>
<br />
<br />
<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar Produto</button>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço Unitario</th>
            <th>Quantidade em Estoque</th>
            <th>Unidade de Medida</th>
            <th>Fornecedor</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in (List<ProdutoModel>)ViewBag.ListaProdutos)
            {
                <tr>
                    <td><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Descricao</td>
                    <td>@item.Preco_Unitario</td>
                    <td>@item.Quantidade</td>
                    <td>
                        @{
                            var unidade_medida = "";
                            switch (item.Unidade_Medida)
                            {
                                case "un":
                                    unidade_medida = "Unidade";
                                    break;
                                case "cx":
                                    unidade_medida = "Caixa";
                                    break;
                                case "kg":
                                    unidade_medida = "Kg";
                                    break;
                                case "g":
                                    unidade_medida = "Grama";
                                    break;
                                case "lt":
                                    unidade_medida = "Litro";
                                    break;
                                case "ton":
                                    unidade_medida = "Tonelada";
                                    break;
                            }
                        } @unidade_medida
                    </td>
                    <td>@item.Fornecedor_Id</td>
                    <td><img src="@item.Link_Foto" width="150" height="150" /></td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    function Cadastrar() {
        window.location.href = "../Produto/Cadastro";
    }

    function Editar(id) {
        window.location.href = "../Produto/Cadastro/" + id;
    }

    function Excluir(id) {
        window.location.href = "../Produto/Excluir/" + id;
    }
</script>   